**desktop.ini
**/node_modules
**Assignment Contract.pdf
**Assignment Contract.gdoc
Eloquent JavaScript - A Modern Introduction to Programming 2E (Haverbeke).pdf
Learning Javascript Data Structures and Algorithms 1E (Groner).pdf